<html>

<head>
    <title>Sitamarhi FPC - 404</title>
    {{> head }}
    <link rel="stylesheet" href="./css/404.css">
</head>

<body>
    <!-- <h1>Oops!</h1> -->
    <h1>Aiyo Maiyo Re!</h1>
    <h2>404 - Page not found</h2>
    <p>The page you are looking for doesn't exist or might have been removed or had its name changed or is temporarily unavailable.</p>
    <a href="/" class="cta">Go to homepage</a>
</body>

</html>