<html>

<head>
    <title>Sitamarhi FPC</title>
    {{> head }}
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    {{> navbar }}

    <section id="hero">
        <h1>A Union of Farmers</h1>
        <p>Sitamarhi Farmers Producer Company is a company, helping farmers gain maximum profit while selling their products at the best price. Directly to the customers.</p>
        <a href="#" class="cta">Visit our Webshop</a>
    </section>

    <div id="logo__section">
        <img src="./images/logos/nabard__logo.png">
        <img src="./images/logos/iffco__logo.png">
        <img src="./images/logos/itc__logo.png">
        <img src="./images/logos/sumanvatika__logo.png">
        <img src="./images/logos/apnakhet__logo.png">
    </div>

    <section id="about__section">
        <div>
            <h4 class="info-head">About This Comapny</h4>
            <h2 class="head">This company ensures maximum profit to farmers.</h2>
            <p>We aim to the bring maximum benefits to the farmers in the form of reduced input cost and improved practices of cultivation, increased production, value addition to the produce and convenient marketing channel.</p>
        </div>
        <img src="./images/about__image.jpg">
    </section>

    <section id="products__section">
        <h4 class="info-head">Featured Products</h4>
        <h2 class="head">Our Products Include</h2>
        <h3>Fresh Products</h3>
        <div class="product__container">
            <div class="product">
                <div>
                    <img src="./images/products/maldah__mango.jpg">
                    <a href="/product"><i class="fa-solid fa-eye"></i></a>
                </div>
                <div>
                    <h3>Maldah Mango</h3>
                    <p>₹499</p>
                    <p>/ 1kg</p>
                </div>
            </div>
            <div class="product">
                <div>
                    <img src="./images/products/zarda__mango.jpg">
                    <a href="/product"><i class="fa-solid fa-eye"></i></a>
                </div>
                <div>
                    <h3>Zarda Mango</h3>
                    <p>₹499</p>
                    <p>/ 1kg</p>
                </div>
            </div>
            <div class="product">
                <div>
                    <img src="./images/products/bambai__mango.jpg">
                    <a href="/product"><i class="fa-solid fa-eye"></i></a>
                </div>
                <div>
                    <h3>Bambai Mango</h3>
                    <p>₹499</p>
                    <p>/ 1kg</p>
                </div>
            </div>
        </div>
        <h3>Canned Items</h3>
        <div class="product__container">
            <div class="product">
                <div>
                    <img src="./images/products/canned__mushroom.jpg">
                    <a href="/product"><i class="fa-solid fa-eye"></i></a>
                </div>
                <div>
                    <h3>Canned Mushroom</h3>
                    <p>₹299</p>
                    <p>/ 1kg</p>
                </div>
            </div>
            <div class="product">
                <div>
                    <img src="./images/products/canned__litchi.jpg">
                    <a href="/product"><i class="fa-solid fa-eye"></i></a>
                </div>
                <div>
                    <h3>Canned Litchi</h3>
                    <p>₹299</p>
                    <p>/ 1kg</p>
                </div>
            </div>
            <div class="product">
                <div>
                    <img src="./images/products/canned__pineapple__slices.jpg">
                    <a href="/product"><i class="fa-solid fa-eye"></i></a>
                </div>
                <div>
                    <h3>Canned Pineapple Slices</h3>
                    <p>₹299</p>
                    <p>/ 1kg</p>
                </div>
            </div>
        </div>
        <h3>Drinks</h3>
        <div class="product__container">
            <div class="product">
                <div>
                    <img src="./images/products/mango__drink.jpg">
                    <a href="/product"><i class="fa-solid fa-eye"></i></a>
                </div>
                <div>
                    <h3>Mango Drink</h3>
                    <p>₹20</p>
                    <p>/ 250ml</p>
                </div>
            </div>
            <div class="product">
                <div>
                    <img src="./images/products/litchi__drink.jpg">
                    <a href="/product"><i class="fa-solid fa-eye"></i></a>
                </div>
                <div>
                    <h3>Litchi Drink</h3>
                    <p>₹20</p>
                    <p>/ 250ml</p>
                </div>
            </div>
        </div>
    </section>

    <h4 class="info-head" style="text-align: center;">Testimonials</h4>
    <h2 class="head" style="text-align: center;">What our customers say about us</h2>
    <section id="review__section">
        <div class="review">
            <div class="message">
                <img src="./images/quote.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolore ipsa adipisci architecto! Dolorum, aut!</p>
            </div>
            <div class="reviewer">
                <h3>Aditya</h3>
                <p>Developer</p>
            </div>
        </div>
    </section>

    <div id="cta__box">
        <a href="#" class="cta">Visit our Webshop</a>
    </div>

    {{> footer }}
</body>

</html>