<html>

<head>
    <title>Sitamarhi FPC - Product</title>
    {{> head }}
    <link rel="stylesheet" href="./css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    {{> navbar }}

    <section class="product__section">
        <img src="./images/products/maldah__mango.jpg">
        <div class="product__detail">
            <h1>Maldah Mango</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa incidunt dolorem quos quo, laborum aliquam.</p>
            <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half"></i>
                <span>123 reviews</span>
            </div>
            <div>
                <p>₹499</p>
                <span>/ 1kg</span>
            </div>
            <div>
                <button>Buy Now</button>
                <button>Add To Basket</button>
            </div>
        </div>
    </section>

    <section class="detail">
        <h2 class="head">Details</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident minus, quas quia rem repellat est obcaecati earum veritatis enim laudantium, animi velit nostrum harum optio, soluta illo ducimus vel itaque temporibus amet vero. Error ad hic quaerat dignissimos quia dicta ut. Dolores earum soluta assumenda distinctio neque ipsam architecto voluptatem!</p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident minus, quas quia rem repellat est obcaecati earum veritatis enim laudantium, animi velit nostrum harum optio, soluta illo ducimus vel itaque temporibus amet vero. Error ad hic quaerat dignissimos quia dicta ut. Dolores earum soluta assumenda distinctio neque ipsam architecto voluptatem!</p>
    </section>

    {{> footer }}
</body>

</html>