<footer class="footer">
    <div class="footer__top">
        <div class="left">
            <img src="./images/logo.png">
            <h3>Contact</h3>
            <ul>
                <li>Ward No. 7, Morsand, Runni Saidpur, Sitamarhi, Pin - 843328 (Bihar)</li>
                <li>+91 9709 590 394</li>
                <li><a href="mailto:sfpco.ltd@rediffmail.com">Email Us</a></li>
            </ul>
        </div>
        <div class="middle">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="right">
            <h3>Legal</h3>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms and Conditions</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <p>Copyright © 2022 Sitamarhi Farmers Producer Co. Ltd. All Rights Reserved.</p>
        <p>Made with <span style="color: #f00;">❤</span> by ADITYA</p>
    </div>
</footer>