<div class="logo__ribbion">
    <p>Sitamarhi Farmers</p>
    <a href="/"><img src="./images/logo.png"></a>
    <p>Producer Company</p>
</div>
<nav class="navbar">
    <ul class="nav__links">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="#about__section">About</a></li>
        <li><a href="#products__section">Products</a></li>
    </ul>
    <ul>
        <li><a href="#">Shop Now!</a></li>
        <li>|</li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>